body {
  display: flex;
  flex-wrap: wrap;
}

.container-imagem {
  width: 40%;
  margin: 0 5%;
  color: white;
  display: flex;
  flex-direction: column;
}

.container-imagem div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container-imagem input {
  justify-self: center;
}

.container-imagem input:checked.gostei {
  accent-color: #32784a;
}

.container-imagem input:checked.ngostei {
  accent-color: #DD0000;
}

.container-imagem img {
  width: 100%;
}

div .img {}